{% extends "layout.html" %}
{% block content %}
    <div class="content-section" style="width: 50%; float:left;">
        <form method="POST" action="">
            {{ login_form.csrf_token }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <div class="form-group">
                    {{ login_form.user_name.label(class="form-control-label") }}
                    {{ login_form.user_name(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ login_form.password.label(class="form-control-label") }}
                    {{ login_form.password(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ login_form.submit(class="btn btn-outline-info") }}
            </div>
            <small class="text-muted ml-2">
                <a href="#">Forgot Password?</a>
            </small>
        </form>
    </div>
    <div class="content-section" style="width: 50%; float:right;">
        <form method="POST" action="">
            {{ signup_form.csrf_token }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sign Up</legend>
                <div class="form-group">
                    {{ signup_form.username.label(class="form-control-label") }}
                    {{ signup_form.username(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ signup_form.full_name.label(class="form-control-label") }}
                    {{ signup_form.full_name(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ signup_form.email.label(class="form-control-label") }}
                    {{ signup_form.email(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ signup_form.password.label(class="form-control-label") }}
                    {{ signup_form.password(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ signup_form.birth_year.label(class="form-control-label") }}
                    {{ signup_form.birth_year(class="form-control")  }}
                </div>
                
            </fieldset>
            <div class="form-group">
                {{ signup_form.submit(class="btn btn-outline-info") }}
            </fieldset>
        </form>
    </div>
{% endblock content %}