{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ search_form.csrf_token }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Search</legend>
            <div class="form-group">
                {{ search_form.search_term.label(class="form-control-label") }}
                {{ search_form.search_term(class="form-control form-control-lg") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ search_form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock content %}